{
    "auth": "microsoft",
    "auto_pay_player": "jasonzli",
    "discord_admin_id": 12345,
    "discord_channel": 12345,
    "discord_status": "Playing Minecraft",
    "discord_token": "your-bot-token",
    "enable_auto_pay": "false",
    "enable_autoclicker": "false",
    "enable_chat_reactions": "false",
    "enable_daily_restart": "false",
    "enable_discord": "false",
    "enable_follow": "false",
    "enable_inventory": "false",
    "enable_player_list": "false",
    "enable_web_controller": "false",
    "follow_player": "jasonzli2",
    "host": "play.your-server.net",
    "inventory_port": 2002,
    "player_list_channel": 12345,
    "port": 25565,
    "restart_timezone": "America/New_York",
    "username": "jasonzli",
    "viewer_port": 21970,
    "web_controller_port": 2001
}